<div id="full-width-1" class="full-width">
  {{ content.full_width }}
</div>
<div id="container-1" class="content grid-container">
  {{ content.main }}
</div>
<div id="full-width-2" class="full-width bg-gray">
  <div class="grid-container">
    {{ content.full_width_2 }}
  </div>
</div>
<div id="container-2" class="content grid-container">
  {{ content.main_2 }}
</div>
